.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F5BBD3;
}

.wrapper{
    height: 65%;
    padding: 3%;
    background-color: #fff;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input{
    display: none;
}

.slider{
    max-width: 488px;
    height: 476px;
    background-color: black;

    display: flex;
    overflow: hidden;
}

.content{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.nav-block{
    width: 25px;
    height: 13px;
    border-radius: 10px;
    background-color: #E5523E;
    cursor: pointer;
}

.nav{
    width: 35px;
    height: 23px;
    outline: #E5523E;
    
    background-color: transparent;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    max-width: 130px;
    
    overflow: hidden;
}

.text_mem1, .text_mem2, .text_mem3, .text_mem4{
    width: 100%;
    max-width: 130px;
    flex-shrink: 0;
}

p{
    text-align: right;
    font-size: 1.5rem;
    font-family: "Poppins";
    color: #E5523E;
}



#mem1:checked ~ .slider .first{
    margin-left: 0;
    transition-duration: .3s;
}

#mem2:checked ~ .slider .first{
    margin-left: -100%;
    transition-duration: .3s;
}

#mem3:checked ~ .slider .first{
    margin-left: -200%;
    transition-duration: .3s;
}

#mem4:checked ~ .slider .first{
    margin-left: -300%;
    transition-duration: .3s;
}

#mem1:checked ~ .content .text .text_mem1{
    margin-left: 0;
    transition-duration: .3s;
}

#mem2:checked ~ .content .text .text_mem1{
    margin-left: -100%;
    transition-duration: .3s;
}

#mem3:checked ~ .content .text .text_mem1{
    margin-left: -200%;
    transition-duration: .3s;
}

#mem4:checked ~ .content .text .text_mem1{
    margin-left: -300%;
    transition-duration: .3s;
}

.nav:hover .nav-block{
    width: 25px;
    height: 13px;
    border-radius: 10px;
    cursor: pointer;

    background-color: #F5BBD3;
    transition-duration: .3s;
}

input:checked:nth-child(1) ~ .content .nav:nth-child(1) .nav-block{
    width: 22px;
    height: 9px;
    cursor: default;

    border: 2px solid #E5523E;
    background-color: transparent;
    transition: .3s;
}

input:checked:nth-child(2) ~ .content .nav:nth-child(2) .nav-block{
    width: 22px;
    height: 9px;
    cursor: default;

    border: 2px solid #E5523E;
    background-color: transparent;
    transition: .3s;
}

input:checked:nth-child(3) ~ .content .nav:nth-child(3) .nav-block{
    width: 22px;
    height: 9px;
    cursor: default;

    border: 2px solid #E5523E;
    background-color: transparent;
    transition: .3s;
}

input:checked:nth-child(4) ~ .content .nav:nth-child(4) .nav-block{
    width: 22px;
    height: 9px;
    cursor: default;

    border: 2px solid #E5523E;
    background-color: transparent;
    transition: .3s;
}

@media (max-width: 650px){
    .slider{
        max-width: 400px;
        max-height: 390px;
    }

    .nav-block{
        width: 20px;
        height: 10px;
    }

    input:checked:nth-child(1) ~ .content .nav:nth-child(1) .nav-block{
        width: 17px;
        height: 7px;
    }

    input:checked:nth-child(2) ~ .content .nav:nth-child(2) .nav-block{
        width: 17px;
        height: 7px;
    }
    input:checked:nth-child(3) ~ .content .nav:nth-child(3) .nav-block{
        width: 17px;
        height: 7px;
    }
    input:checked:nth-child(4) ~ .content .nav:nth-child(4) .nav-block{
        width: 17px;
        height: 7px;
    }
    
    img{
        max-width: 400px;
        height: auto;
    }
    
    p{
        font-size: 1.3rem;
    }
}

@media (max-width: 550px){
    .wrapper{
        height: 45%;
    }

    .slider{
        max-width: 300px;
        max-height: 290px;
    }
    
    img{
        max-width: 300px;
        height: auto;
    }

    p{
        font-size: 1.1rem;
    }
}

@media (max-width: 400px){
    .wrapper{
        height: 30%;
        justify-content: flex-start;
        gap: 10px;
    }

    .slider{
        max-width: 200px;
        max-height: 190px;
    }
    
    .content{
        flex-direction: column;
        gap: 3%;
    }

    .control{
        gap: 3%;
    }

    img{
        max-width: 200px;
        height: auto;
    }

    p{
        text-align: left;
        font-size: 0.9rem;
    }
}